.selectContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.selectInputContainer {
  width: 100%;
}

.mobileToogler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgb(248 250 252);
  border-radius: 14.5px;
  border: 1px solid rgb(226 232 240);
  font-size: 14px;
  height: 42px;
  color: #314158;
  width: 100%;
  cursor: pointer;
}

.closeMobileSearch {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  color: #333333;
  margin-bottom: 15px;
}

.select {
  width: 100%;
  font-size: 12.5px;
  z-index: 1000;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #314158;
  padding: 8.75px 0;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.optionContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.focusedOption {
  background-color: #f8fafc;
  color: #155dfc;
  cursor: pointer;
}

.tempClearIndicator {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

@media (max-width: 1030px) {
  .selectInputContainerMobileOpen {
    display: block;
    position: fixed;
    inset: 0 0 65px 0;
    background: white;
    padding: 15px 20px;
  }
  .selectInputContainerMobileClosed {
    display: none;
  }
}

@media (min-width: 1031px) {
  .selectInputContainer {
    display: block;
  }
  .mobileToogler {
    display: none;
  }
}
