:root {
  --background: #f8fafc;
  --font: #171717;
  --stroke: #e2e8f0;
  --green: #027a48;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 15px;
}

.alignY {
  display: flex;
  align-items: center;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.gap1 {
  gap: 5px;
}

.gap2 {
  gap: 10px;
}

.gap3 {
  gap: 20px;
}

#mainContainer {
  background: var(--background);
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.chevron {
  width: 10.5px;
  height: 10.5px;
  margin-left: 3.5px;
  color: rgb(100 116 139);
  flex-shrink: 0;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (max-width: 1030px) {
  .hideMobile {
    display: none !important;
  }
}

@media (min-width: 1031px) {
  .hideDesktop {
    display: none !important;
  }
  #mainContainer {
    flex: 1;
    margin-left: 223px;
  }
  main {
    padding: 0 20px;
  }
  .container {
    padding: 21px;
  }
}
